<tr>
  <td>
    <table align="center" class="email-footer w-[570px] mx-auto text-center sm:w-full">
      <tr>
        <td align="center" class="content-cell p-[45px] text-base">
          <p class="mt-1.5 mb-5 text-xs leading-6 text-center text-gray-postmark-light">
            &copy; {{ now | date "2006" }} {{ .SiteName }}. All rights reserved.
          </p>
          <p class="mt-1.5 mb-5 text-xs leading-6 text-center text-gray-postmark-light">
            {{ .SiteName }}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
