<ng-container *ngIf="(profile | async) as profile">
  <div class="tkd-card">
    <header class="flex !flex-row !justify-start items-center">
      <div class="flex flex-col justify-center flex-grow gap-2">
        <h3>Willkommen zurück!</h3>
        <h1>
          Hallo <span class="font-medium">{{ profile.user?.displayName || profile.user?.username }}</span>
        </h1>
      </div>
      <img routerLink="./edit-avatar" class="w-12 h-12 rounded-full shadow cursor-pointer" [attr.src]="profile.user?.avatar">
    </header>

    <content>
      <section>
        <span class="">Willkommen in deinem {{ config.siteName }} Account. Hier kannst du deine Persönlichen
          Daten ändern, Kontaktdaten und Adressen verwalten.</span>
      </section>
      <section>
        <h2 class="flex flex-row items-center justify-between">
          Persönliche Daten
          <a routerLink="./edit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
            </svg>
          </a>
        </h2>
        <ul class="flex flex-col gap-4 list-none">
          <li class="flex flex-row items-center justify-between">
            <div class="flex flex-col gap-0.5">
              <span
                class="text-xs text-gray-500 uppercase dark:text-emerald-200 dark:text-opacity-70">Benutzername</span>
              <span>{{ profile.user?.username || 'N/A'}}</span>
            </div>
          </li>

          <li class="flex flex-row items-center justify-between">
            <div class="flex flex-col gap-0.5">
              <span class="text-xs text-gray-500 uppercase dark:text-emerald-200 dark:text-opacity-70">Name</span>
              <span>{{ (profile.user?.firstName || profile.user?.lastName) ? profile.user?.firstName + ' ' +
                profile.user?.lastName : 'N/A' }}</span>
            </div>
          </li>

          <li class="flex flex-row items-center justify-between">
            <div class="flex flex-col gap-0.5">
              <span class="text-xs text-gray-500 uppercase dark:text-emerald-200 dark:text-opacity-70">Anzeige
                Name</span>
              <span>{{ profile.user?.displayName || 'N/A'}}</span>
            </div>
          </li>

          <li class="flex flex-row items-center justify-between">
            <div class="flex flex-col gap-0.5">
              <span
                class="text-xs text-gray-500 uppercase dark:text-emerald-200 dark:text-opacity-70">Geburtsdatum</span>
              <span>{{ profile.user?.birthday || 'N/A'}}</span>
            </div>
          </li>

        </ul>
      </section>

      <section>
        <h2 class="flex flex-row items-center justify-between">
          Sicherheit
        </h2>
        <div class="flex flex-col gap-2 sm:flex-row">
          <button routerLink="./change-password" type="button" class="self-stretch flex-1 flex-grow tkd-btn-outline">
            Passwort ändern
          </button>
          <button routerLink="./manage-mfa" type="button" class="self-stretch flex-1 flex-grow tkd-btn-outline">
            Sicherheits & Login-Methoden
          </button>
        </div>
      </section>

      <section>
        <button type="button" (click)="logout()" class="self-stretch tkd-btn">
          Abmelden
        </button>
      </section>

    </content>
  </div>

  <div class="tkd-card" *ngIf="config.features.addresses">
    <header>
      <h3>Wo wohnst oder arbeitest du?</h3>
      <h1>Adressen</h1>
    </header>
    <content>
      <section>
        <ul class="space-y-4 list-none">
          <li class="flex flex-row items-center gap-2" *ngFor="let addr of profile.addresses">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5 mr-2 dark:text-emerald-400 text-emerald-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>

            <span class="flex flex-col flex-grow gap-0 leading-5">
              <span>
                {{addr.street}} {{ !!addr.extra ? ', ' + addr.extra : ''}}
              </span>
              <span>
                {{ addr.cityCode }} {{ addr.cityName }}
              </span>
            </span>
            <a [routerLink]="['./edit-address', addr.id]">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
            </a>
          </li>
        </ul>
        <div *ngIf="!profile.addresses?.length">
          <span class="inline-flex flex-row items-center justify-center w-full gap-2 text-sm font-medium text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 rounded-full text-emerald-600 dark:text-emerald-400">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>
            Es wurden noch keine Adressen hinterlegt.
          </span>
        </div>

        <button class="tkd-btn-outline" routerLink="./edit-address">Adresse hinzufügen</button>
      </section>
    </content>
  </div>

  <div class="tkd-card">
    <header>
      <h3>Wie bist du zu erreichen?</h3>
      <h1>Kontaktdaten</h1>
    </header>
    <content>
      <section *ngIf="config.features.phoneNumbers">
        <h2 class="flex flex-row items-center justify-between">
          Telefonnummer
        </h2>

        <ul class="space-y-4 list-none">
          <li class="flex flex-row items-center gap-2" *ngFor="let addr of profile.phoneNumbers">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5 mr-2 dark:text-emerald-400 text-emerald-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>


            <span class="flex flex-row items-center flex-grow gap-2">
              {{ addr.number }}
              <span
                class="bg-opacity-50 text-emerald-600 bg-emerald-200 border-emerald-600 dark:text-emerald-200 dark:border-emerald-500 tkd-tag dark:bg-emerald-600"
                *ngIf="addr.primary">
                primary
              </span>
              <svg *ngIf="addr.verified" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-green-500 dark:text-green-300">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
              </svg>
            </span>

            <a [routerLink]="['./edit-phone', addr.id]">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
            </a>
          </li>
        </ul>

        <div *ngIf="!profile.phoneNumbers?.length">
          <span class="inline-flex flex-row items-center justify-center w-full gap-2 text-sm font-medium text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 rounded-full text-emerald-600 dark:text-emerald-400">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>
            Es wurden noch keine Telefonnummern hinterlegt.
          </span>
        </div>
        <button class="tkd-btn-outline" routerLink="./edit-phone">Telefonnummer hinzufügen</button>
      </section>
      <section *ngIf="config.features.emails">
        <h2 class="flex flex-row items-center justify-between">
          E-Mail Addressen
        </h2>

        <ul class="space-y-4 list-none">
          <li class="flex flex-row items-center gap-2" *ngFor="let addr of profile.emailAddresses">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5 mr-2 dark:text-emerald-400 text-emerald-600">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>

            <span class="flex flex-row items-center flex-grow gap-2">
              {{ addr.address }}
              <span
                class="bg-opacity-50 text-emerald-600 bg-emerald-200 border-emerald-600 dark:text-emerald-200 dark:border-emerald-500 tkd-tag dark:bg-emerald-600"
                *ngIf="addr.primary">
                primary
              </span>
              <svg *ngIf="addr.verified" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-green-500 dark:text-green-300">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
              </svg>
            </span>

            <a [routerLink]="['./edit-mail', addr.id]">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>
            </a>
          </li>
        </ul>

        <div *ngIf="!profile.emailAddresses?.length">
          <span class="inline-flex flex-row items-center justify-center w-full gap-2 text-sm font-medium text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 rounded-full text-emerald-600 dark:text-emerald-400">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>
            Es wurden noch keine E-Mail Adressen hinterlegt.
          </span>
        </div>
        <button class="tkd-btn-outline" routerLink="./edit-mail">E-Mail Adresse hinzufügen</button>
      </section>
    </content>
  </div>
</ng-container>
