<form #loginForm="ngForm" (ngSubmit)="submit()" class="mt-32">
  <div class="m-auto w-96 tkd-card">
    <content>
      <section>

        <h1 class="mt-2 w-full text-2xl font-medium">Anmeldung</h1>
        <span class="-mt-4 mb-4 text-sm font-light">mit deinem
          <a [attr.href]="config.siteNameUrl">{{ config.siteName }}</a>
          Account.
        </span>

        <span class="text-base">Bitte melde dich mit deinem Benutzernamen und deinem Passwort an:</span>
        <input required placeholder="Username"
          class="tkd-input"
          type="text" name="username" [(ngModel)]="username">
        <input required placeholder="Password"
          class="tkd-input"
          type="password" name="password" [(ngModel)]="password">
        <span *ngIf="loginErrorMessage" class="text-sm font-medium text-red-300">
          Anmeldung fehlgeschlagen: <br />
          {{ loginErrorMessage }}
        </span>
        <button [disabled]="!loginForm.valid" type="submit" class="tkd-btn">Anmelden</button>
        <a class="inline-block -mt-2 w-full text-center" href="#">Password vergessen?</a>
      </section>
    </content>
  </div>
</form>