<div class="flex flex-col gap-4 items-stretch w-screen max-w-2xl">
    <div class="w-full tkd-card">
        <header class="flex !flex-row w-full items-center">
            <a routerLink="../">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </a>

            <h1 class="flex-grow">Passwort ändern</h1>
        </header>

        <content>
            <section>
                <span>Hier kannst du deine Anmeldedaten ändern. Aus Sicherheitsgründen muss du auch dein aktuelles
                    Passwort eingeben.</span>
            </section>
            <section>
                <form #form="ngForm" class="flex flex-col gap-4" (ngSubmit)="changePasswords()">

                    <div class="flex flex-col gap-0.5 items-start">
                        <span class="text-xs uppercase">Aktuelles Password *</span>
                        <input type="password" required name="current-password" [(ngModel)]="current" class="w-full tkd-input">
                    </div>

                    <div class="flex flex-col gap-0.5 items-start">
                        <span class="text-xs uppercase">Neues Password *</span>
                        <input type="password" required name="new-password" [(ngModel)]="new" class="w-full tkd-input">
                    </div>

                    <div class="flex flex-col gap-0.5 items-start">
                        <span class="text-xs uppercase">Neues Password wiederholen *</span>
                        <input type="password" required name="new-password-repeat" [(ngModel)]="newRepeat" class="w-full tkd-input">
                    </div>

                    <button [disabled]="!form.valid || new !== newRepeat" class="w-full tkd-btn" type="submit">
                        Passwort ändern
                    </button>
                </form>
            </section>
            <section>
                <span class="text-sm">* Felder müssen ausgefüllt werden</span>
            </section>
        </content>
    </div>
</div>