<form #loginForm="ngForm" (ngSubmit)="verifyPhoneNumber()" class="mt-32">
  <div class="m-auto w-96 tkd-card">
    <content>
      <section>
        <h1 class="w-full mt-2 text-2xl font-medium">Telefonnummer verifizieren</h1>
        <span class="mb-4 -mt-4 text-sm font-light">Gib den Sicherheits-Code ein den wir an dein Telefon geschickt haben:</span>

        <div class="flex flex-row items-center justify-center w-full">
          <app-security-code [(ngModel)]="securityCode" name="code"></app-security-code>
        </div>

        <button type="submit" class="tkd-btn">Verifizieren</button>

        <a (click)="requestVerificationCode()">Neuen Code anfordern</a>
      </section>
    </content>
  </div>
</form>
