<div class="tkd-card">
  <header class="flex !flex-row w-full items-center">
    <a routerLink="/profile">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </a>

    <h1 class="flex-grow">{{ isNew ? 'Telefonnummer hinzufügen' : 'Telefonnummer bearbeiten'}}</h1>
  </header>
  <content>
    <section>
      <form (ngSubmit)="save()">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-0.5 w-full">
            <span class="text-xs text-gray-500 uppercase dark:text-emerald-200 dark:text-opacity-70">Telefonnummer</span>
            <input class="w-full tkd-input" type="text" name="displayName" [formControl]="number" placeholder="+43 1234 1234">
          </div>

          <button *ngIf="isNew" type="submit" class="tkd-btn">Speichern</button>
          <button *ngIf="!isNew" type="button" class="tkd-btn" (click)="markAsPrimary()">Als primäre Telefonnummer setzen</button>
          <button *ngIf="!isNew" type="button" class="tkd-btn tkd-danger" (click)="deleteAddress()">Löschen</button>
        </div>
      </form>
    </section>
    <section *ngIf="!isNew && !verified" class="flex !flex-row gap-4 !items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-8 h-8 text-yellow-500 dark:text-yellow-300">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
      <span class="flex-grow text-yellow-500 dark:text-yellow-300">
        Diese Telefonnummer wurde noch nicht verifiziert
        und kann daher noch nicht verwendet werden.
      </span>
      <button class="tkd-btn-outline whitespace-nowrap">Jetzt verifizieren</button>
    </section>
    <section *ngIf="saveAddrError" class="flex !flex-row gap-4 !items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-8 h-8 text-red-500 dark:text-red-300">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
      <span class="text-red-500 dark:text-red-300">
        Telefonnummer konnte nicht gespeichert werden: <br />
        {{ saveAddrError }}
      </span>
    </section>
  </content>
</div>


