<form #loginForm="ngForm" (ngSubmit)="submit()" class="mt-32">
  <div class="m-auto w-96 tkd-card">
    <content>
      <section *ngIf="display === 'request-reset'">
        <h1 class="w-full mt-2 text-2xl font-medium">Passwort zurücksetzen</h1>
        <span class="mb-4 -mt-4 text-sm font-light">hier kannst du das Passwort von deinem
          <a [attr.href]="config.siteNameUrl">{{ config.siteName }}</a>
          Account zurücksetzen.
        </span>

        Bitte gib deinen Benutzernamen oder die hinterlegte E-Mail Adresse an:

        <input type="text" class="tkd-input" autocomplete="username email" [(ngModel)]="username" name="username" required>

        <button [disabled]="!loginForm.valid" type="submit" class="tkd-btn">Weiter</button>

      </section>

      <section *ngIf="display === 'sent'">
        <h1 class="w-full mt-2 text-2xl font-medium">Passwort zurücksetzen</h1>
        <span class="mb-4 -mt-4 text-sm font-light">hier kannst du das Passwort von deinem
          <a [attr.href]="config.siteNameUrl">{{ config.siteName }}</a>
          Account zurücksetzen.
        </span>

        Wir haben dir soeben eine E-Mail mit einem Link zum Zurücksetzen deines Passworts geschickt.
        Bitte kontrolliere dein Mail-Postfach.
      </section>

      <section *ngIf="display === 'reset'">
        <h1 class="w-full mt-2 text-2xl font-medium">Passwort zurücksetzen</h1>
        <span class="mb-4 -mt-4 text-sm font-light">hier kannst du das Passwort von deinem
          <a [attr.href]="config.siteNameUrl">{{ config.siteName }}</a>
          Account zurücksetzen.
        </span>

        Bitte wähle ein neues Passwort:

        <input type="password" class="tkd-input" autocomplete="new-password" [(ngModel)]="newPassword" name="password" required>
        <input type="password" class="tkd-input" autocomplete="new-password" [(ngModel)]="newPasswordRepeat" name="password-repeat"
          required>

        <button [disabled]="!loginForm.valid || newPassword !== newPasswordRepeat" type="submit"
          class="tkd-btn">Passwort ändern</button>

      </section>
      <section *ngIf="resetError" class="flex !flex-row gap-4 !items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-8 h-8 text-red-500 dark:text-red-300">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>
        <span class="text-red-500 dark:text-red-300">
          Passwort konnte nicht zurückgesetzt werden: <br />
          {{ resetError }}
        </span>
      </section>
    </content>
  </div>
</form>
