<div class="h-screen w-screen flex flex-col dark:bg-slate-700 bg-slate-50 overflow-hidden">

  <!-- Header -->
  <div
    class="bg-white dark:bg-slate-800 w-full shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] h-12 flex flex-row relative z-[1035]">

    <!-- Page Title -->
    <h1 class="p-3 text-lg font-medium lg:text-xl dark:text-white w-64 m-0 pl-2 sm:pl-6 whitespace-nowrap overflow-hidden text-ellipsis">
      {{ siteName }}
      <span class="pl-2 ml-2 font-light border-l border-slate-300 hidden xs:inline-block">Konto</span>
    </h1>

    <!-- Spacer -->
    <div class="flex-grow"></div>

    <!-- Right content -->
    <div class="flex flex-row gap-4 items-center pr-2 sm:pr-6"  *ngIf="(profileService.profile | async) as profile">
      <button type="button" (click)="nav?.toggle()" *ngIf="!layout.lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <!-- Avatar -->
      <div class="hidden xs:flex flex-row gap-1 sm:gap-2 text-slate-600 items-center">
        <span class="hidden sm:block">{{ profile.user?.displayName || profile.user?.username || 'N/A'}}</span>
        <tkd-avatar class="w-8 h-8" [src]="profile.user?.avatar"></tkd-avatar>
      </div>
    </div>
  </div>

  <!-- Content Wrapper with Sidenav -->
  <div class="flex overflow-hidden flex-row w-full relative flex-grow">
    <!-- Left-hand Navigation -->
    <app-nav class="hidden" [ngClass]="{'!flex': (profileService.profile | async)}" [mode]="layout.lg ? 'side' : 'over'"
      #nav="appNav"></app-nav>

    <!-- Actual content -->
    <div id="content" class="flex-grow flex flex-col items-center overflow-auto pt-4">
      <div class="max-w-screen-md">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
