---
bodyClass: bg-gray-postmark-lighter
---
{{ define "account_creation_notice:subject"}}Deine neues {{ .SiteName }}-Konto{{ end }}

{{ define "account_creation_notice" }}
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans email-wrapper bg-gray-postmark-lighter">
      <tr>
        <td align="center">
          <table class="w-full email-content">
            <component src="src/components/header.html"></component>
            <raw>
              <tr>
                <td class="w-full bg-white email-body">
                  <table align="center" class="email-body_inner w-[570px] bg-white mx-auto sm:w-full">
                    <tr>
                      <td class="p-[45px]">
                        <div class="text-base">
                          <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker">
                            Hi {{ displayName .User }},
                          </h1>
                          
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">
                            {{ displayName .Creator }} hat ein {{ .SiteName }}-Konto für dich erstellt.
                          </p>
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">
                            Solltest du das Passwort für dein {{ .SiteName }}-Konto nicht kennen, benutze bitte die Schaltfläche unten um ein neues Passwort zu wählen. <strong>Das Passwort kann nur innerhalb der nächsten 24 Stunden neu gewählt werden.</strong>
                            Nach Ablauf der 24 Stunden kontaktiere bitte {{ displayName .Creator }}. 
                          </p>

                          <table align="center" class="w-full text-center my-7.5 mx-auto">
                            <tr>
                              <td align="center">
                                <table class="w-full">
                                  <tr>
                                    <td align="center" class="text-base">
                                      <a href="{{ .ResetLink }}" class="button button--green">Neues Passwort wählen</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">
                            Danke,
                            <br>Das {{ .SiteName }} Team
                          </p>
                          <table class="body-sub">
                            <tr>
                              <td>
                                <p class="mt-1.5 mb-[5px] text-xs leading-6 text-gray-postmark-dark">
                                  Sollte die Schaltfläche nicht funktionieren kopiere folgenden Link einfach in deinen Web-Browser:
                                </p>
                                <p class="mt-1.5 mb-[5px] text-xs leading-6 text-gray-postmark-dark">
                                  {{ .ResetLink }}
                                </p>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </raw>
            <component src="src/components/footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
{{ end }}